body
{
background-image:url(b.jpg);
height:2000px;
width:1200px;
}
div.header
{
height:90px;
background-color:262A2D;
width:80%;
position:absolute;
left:10%;
top:-15px;
border-radius:7px;
z-index:2;
}
h1.one
{
color:E7E3BA;
position:absolute;
left:2.5%;
top:15px;
font-family:"lucida console";
border-right: 1px solid #7B7A6D;
padding-right:20px;
}
div.hl1
{
position:absolute;
 left:200px;
 top:40px;
}
div.hl2
{
position:absolute;
 left:265px;
 top:40px;
}
div.hl3
{
position:absolute;
 left:330px;
 top:40px;
}
div.hl4
{
position:absolute;
 left:400px;
 top:40px;
}
div.hl5
{
position:absolute;
 left:465px;
 top:40px;
}
a
{
text-decoration:none;
}
a:link
 {
 color:E6E2BB;
 }       
a:hover 
{
color:8f4422;
}  
div.one
{
color:757468;
background-color:232426;
width:180px;
height:25px;
position:absolute;
left:725px;
top:35px;
border:5px;
padding-left:5px;
padding-top:5px;
border-radius:7px;
z-index:1;
}
div.two
{
color:E3E4BD;
background-color:8A4222;
width:100px;
height:25px;
position:absolute;
left:925px;
top:35px;
padding-left:10px;
padding-top:5px;
border-radius:7px;
z-index:3;
}
#logo
{
position:absolute;
top:85px;
left:350px;
z-index:2;
}
div.info
{
position:absolute;
top:360px;
left:40%;
z-index:3;
background-color:242729;
width:225px;
height:50px;
border-radius:10px;
text-align:center;
}
div.section1
{
position:absolute;
top:400px;
left:10%;
background-color:242729;
height:1330px;
width:80%;
z-index:4;
border-radius:10px;
}
img.one{
position:absolute;
top:35px;
left:3%;
}
img.two{
position:absolute;
top:35px;
left:16.5%;
}
img.three
{
position:absolute;
top:35px;
left:30%;
}
div.three
{
width:450px;
position:absolute;
top:35px;
left:45%;
}
img.four
{
position:absolute;
top:0px;
left:2%;
}
p.one
{
color:8D4325;
position:absolute;
top:18px;
left:50%;
font-size:20px;
}
p.two
{
color:646465;
position:absolute;
top:45px;
left:50%;
font-size:12.8px;
}
p.three
{
color:7B7A6C;
position:absolute;
top:70px;
left:50%;
font-size:13.5px;
}
img.line
{
position:absolute;
top:560px;
left:10%;
z-index:4;
}
img.five{
position:absolute;
top:580px;
left:10%;
z-index:5;
}
div.data
{
background-color:E6E3BB;
width:79.9%;
height:540px;
position:absolute;
top:625px;
left:10%;
z-index:4;
}
div.four
{
width:300px;
height:80px;
position:absolute;
top:80px;
left:30px;;
z-index:4;
text-align:center;

}
div.five
{
width:300px;
height:80px;
position:absolute;
top:80px;
left:390px;
z-index:4;
text-align:center;
}
div.six
{
width:300px;
height:80px;
position:absolute;
top:80px;
left:730px;
z-index:4;
text-align:center;
}
h3
{
font-family:"Lucida Console";
font-size:20px;
color:8F4423;
}
p.four
{
font-size:15px;
color:7C7A71;
position:absolute;
top:35px;
left:35px;
}
p.five
{
font-size:15px;
color:7C7A71;
position:absolute;
top:35px;
left:310px;
}
p.six{
font-size:15px;
color:7C7A71;
position:absolute;
top:35px;
left:610px;
}
input.learn
{
background-color:25282A;
color:E7E5B9;
width:100px;
height:30px;
position:absolute;
top:180px;
left:110px;
border-radius:5px;
}
div.seven
{
background-color:25282A;
color:E7E5B9;
width:100px;
height:30px;
position:absolute;
top:930px;
left:500px;
border-radius:5px;
text-align:center;
margin-top:5px;
z-index:6;
}
div.eight
{
background-color:25282A;
color:E7E5B9;
width:100px;
height:30px;
position:absolute;
top:930px;
left:600px;
border-radius:5px;
text-align:center;
margin-top:5px;
z-index:5;
}
div.nine
{
background-color:25282A;
color:E7E5B9;
width:100px;
height:30px;
position:absolute;
top:930px;
left:700px;
border-radius:5px;
text-align:center;
margin-top:5px;
z-index:5;
}
div.ten
{
background-color:25282A;
color:E7E5B9;
width:1000px;
height:160px;
position:absolute;
top:950px;
left:170px;
border-radius:5px;
text-align:center;
margin-top:5px;
z-index:6;
}
img.eight
{
position:absolute;
top:60px;
left:20px;
}
img.nine
{
position:absolute;
top:20px;
left:100px;
}
img.ten
{
position:absolute;
top:20px;
left:370px;
}
img.eleven
{
position:absolute;
top:20px;
left:660px;
}
img.twelve
{
position:absolute;
top:60px;
right:20px;
}
img.thirteen
{
position:absolute;
top:48px;
left:270px;
}
p.five
{
position:absolute;
top:5px;
left:140px;
color:8E4424;
font-size:20px;
}
p.six
{
position:absolute;
top:35px;
left:140px;
font-size:12px;
color:636364;
}
p.seven
{
position:absolute;
top:60px;
left:100px;
font-size:15px;
color:585951;
padding-left:10px;
margin-left:5px;
text-align:justify;
}
p.eight{
position:absolute;
top:5px;
left:420px;
color:8E4424;
font-size:20px;
}
p.nine
{
position:absolute;
top:35px;
left:420px;
font-size:12px;
color:636364;
}
p.ten
{
position:absolute;
top:60px;
left:390px;
font-size:15px;
color:585951;
padding-left:10px;
margin-left:5px;
text-align:justify;
}
p.eleven{
position:absolute;
top:5px;
left:720px;
color:8E4424;
font-size:20px;
}
p.twelve
{
position:absolute;
top:35px;
left:720px;
font-size:12px;
color:636364;
}
p.thirteen
{
position:absolute;
top:60px;
left:680px;
font-size:15px;
color:585951;
padding-left:10px;
margin-left:5px;
text-align:justify;
}
div.sixteen
{
position:absolute;
top:200px;
left:-35px;
background-color:8A4222;
width:1079px;
height:15px;
border-radius:3px;
}
div.seventeen
{
position:absolute;
top:230px;
left:-25px;
color:7A7A6D;
width:1078px;
height:400px;
z-index:5;
}
p.fourteen
{
position:absolute;
top:0px;
left:0px;
font-size:21px;
color:924C2C;;
padding-left:10px;
margin-left:5px;
}
p.fivteen
{
text-align:justify;
position:absolute;
top:35px;
left:14px;
font-size:16px;
}
p.sixteen
{
text-align:justify;
position:absolute;
top:145px;
left:14px;
font-size:15px;
}
p.seventeen
{
position:absolute;
top:0px;
left:460px;
font-size:21px;
color:924C2C;;
padding-left:10px;
margin-left:5px;
}
img.twenty
{
position:absolute;
top:10px;
left:440px;
}
img.tweet
{
position:absolute;
top:130px;
left:480px;
}
input.signup
{
position:absolute;
top:51px;
left:678px;
border-radius:4px;
width:100px;
height:38px;
background-color:A9542B;
border:0px;
font-size:15px;
color:white;
}
input.email
{
position:absolute;
top:50px;
left:480px;
width:300px;
height:40px;
border-radius:4px;
background-color:242729;
color:757467;
font-style:italic;
padding-left:18px;
}
img.twentyone
{
position:absolute;
top:230px;
left:-10px;
z-index:7;
}
div.spon
{
position:absolute;
top:250px;
left:-10px;
z-index:6;
width:1079px;
height:230px;
background-color:8F4423;
}
p.fl
{
position:absolute;
top:0px;
left:30px;
font-size:20px;
color:E6E4BA;
font-style:bold;
}
p.frnd
{
position:absolute;
top:0px;
left:680px;
font-size:20px;
color:E6E4BA;
font-style:bold;
}
p.page
{
position:absolute;
top:0px;
left:920px;
font-size:20px;
color:E6E4BA;
font-style:bold;
}
img.twentytwo
{
position:absolute;
top:40px;
left:10px;
z-index:7;
}
img.twentythree
{
position:absolute;
top:60px;
left:10px;
z-index:7;
}
img.twentytwocopy
{
position:absolute;
top:200px;
left:10px;
z-index:7;
}
p.featured
{
position:absolute;
top:0px;
left:430px;
font-size:20px;
color:E6E4BA;
font-style:bold;
}
img.cola
{
position:absolute;
top:50px;
left:400px;
z-index:7;
}
div.frnd{
width:80px;
position:absolute;
text-align:right;
top:53px;
left:670px;
z-index:7;
}
img.final
{
position:absolute;
top:0px;
left:-10px;
}
p.cr
{
color:745042;
position:absolute;
top:710px;
left:20px;
}
p.opt
{
color:745042;
position:absolute;
top:710px;
left:700px;
}